#test {
    width: 100px;
    height: 100px;
    background-color: green;
}

footer {
    padding-top: 2em;
  }

.blue {
    background-color: #206EFF;
}

.green {
    background-color: #31FFA6;
}

.red {
    background-color: #FF324A;
}

.circle  {
    width: 2.5em;
    height: 2.5em;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 50%;
}

body {
    /* background: aquamarine; */
  }
  